*{
    box-sizing: border-box;
}
body{
    background-image: url("./img/imagen-mountains.jpg");
    margin: 0;;
}

.primer-pag{
    height: 700px;
    padding: 80px;
}

.titulo{
    font-family: "Montserrat";
    font-size: 48px;
    text-align: center;
    color: white;
}

.subtitle{
    font-family: "Montserrat";
    font-size: 32px;
    text-align: center;
    color: white;
}


.welcome{
    background-color: #141414;
    height: 500px;
}


@media(min-width:960px){
    .welcome{
        background-color: #FFF;
        height: 500px;
        border-bottom: solid 6px;
    }
}

.welcome__content{
    text-align: center;
    padding: 40px;
}

@media(min-width:960px){
    .welcome__content{
        display: flex;
        gap: 200px;
        align-items: center;
        justify-content: space-between
    }
}

.content__img-container{
    display: none;
}

@media(min-width:960px){
    .content__img-container{
        display: initial;
    }
}


.content__img{
    overflow: hidden;
    margin-top:55px ;

}



@media(min-width:960px){
    .content__description{
        margin-top: 100px;
        width: 600px;
    }
    
}

.content__title{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 32px;
    color: #FFF;
    margin: 0;
}

@media(min-width:960px){
    .content__title{
        color: black;
    }
}

.content__text{
    font-family: "Poppins";
    color: #FFf;
    margin: 10px 0 0 0 ;
}

@media(min-width:960px){
    .content__text{
        color: black;
    }
}






.cards-container{
    background-color: white;
}

@media(min-width:960px){
    .cards-container{
        display: flex;
        padding: 40px;
        gap: 20px;
    }
}

.card__content{
    display: flex;
    flex-direction: column;
    padding: 52px;
}

.card__title{
    font-size: 32px;
    margin: 20px;
    font-family: "Montserrat";
    text-align: center;
}


.card__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}
.card__name,.card__description{
    text-align: center;
}
.card__name{
    font-size: 24px;
    font-family: "Poppins";
    margin: 20px 0 0 0 ;
}

.card__description{
    font-family: "Poppins";
}

.card__link{
    font-family: "Poppins";
    display: block;
    text-align: right;
    text-decoration: none;
    color: violet;    
}

.contact-container{
    background-color: #141414;;
}
